.bac{
    z-index: 1;
    background-color: linear-gradient(to right, rgba(255,0,0,0), #17b6f5);
}
.hoverable{
    background-color: #f7d169;
    color:black
}

.hoverable:hover{
    background-color: rgb(255, 166, 0);
    transition-delay: 5ms;
    box-shadow:  10px 10px 10px 10px #484e53;
}