.section-bc{
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(97).jpg');
    background-color: rgb(243, 158, 31);
    background-size: cover;
    background-position: center center;
    color: white;
}